body{
  font-family: "Montserrat",sans-serif;
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: repeat-y;
    background-size: 100% 100%;
}

.table1 {
background: rgba(255,255,255,1);
}

/* navbar */

.navbar{
  background-image: linear-gradient(#222831, #393e46, #29a19c);
  margin-left: 0;
  margin-right: 0;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-family: "Montserrat";
 font-size: 1.2rem;
}

.topic-heading{
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  background-color: #29a19c;
  text-align: left;
}

.th{
  color: #a3ddcb;
}

.navToCat{
  padding: 2rem 2rem;
}

a{
color: #29a19c;
}


.feat-box{
  text-align: center;
  padding: 1.2rem
}

.feat-sym{
  color:#29a19c;
  margin-bottom: 1rem;
}

.foot{
  margin-left: 0;
  margin-right: 0;
}
